---
import ThemeIcon from './ThemeIcon.astro';
import Hamburger from './Hamburger.astro';
---
<header>
  <nav>
    <Hamburger />
    <ThemeIcon />
    <div class="nav-links">
      <a href="/">Home</a>
      <a href="/about/">About</a>
      <a href="/blog/">Blog</a>
      <a href="/tags/">Tags</a>
    </div>
  </nav>
</header>